<!-- Authorizations -->
<div class="authorizations tab-pane" id="authorizations" role="tabpanel">
  <p class="tab-intro">Environmental assessment certificates and permits issued under the Mines Act and the Environmental Management Act (EMA) are the primary provincial authorizations for major mine projects in British Columbia. Below you will find a list of authorizations associated with each of these three acts. <span>Learn more about Authorizations <a ui-sref="authorizations">here</a>.</span></p>

  <tmpl-project-authorizations project="project" agency="EAO"></tmpl-project-authorizations>
  <tmpl-project-authorizations project="project" agency="ENV"></tmpl-project-authorizations>
  <tmpl-project-authorizations project="project" agency="MEM"></tmpl-project-authorizations>

  <!-- More Authorizations Link -->
  <div class="main-footer" ng-if="project.morePermitsLink">
    <h3>Can't find what you are looking for?</h3>
    <p class="mb-0">Mines Act permits issued for {{project.name}} prior to {{project.morePermitsLinkYear}} can be accessed <a href="{{project.morePermitsLink}}" target="_blank">here</a>.</p>
  </div>

</div><!-- / Authorizations -->
